* {
    margin: 0;
    padding: 0;
    background-color: #021345;
    font-family: sans-serif;
}

.navbar {
    display: flex;
    margin-top: 40px;
}

.nav_list {
    display: flex;
    color: white;
    gap: 25px;
    font-weight: 600;
}

.list1 {
    display: flex;
}

.down_arrow {
    height: 15px;
}

.nav_box {
    display: flex;
    gap: 25px;
    color: white;
    margin-left: 300px;
    margin-top: -20px;
}

.login {
    font-weight: 500;
    border: 2px solid white;
    border-radius: 10px;
    height: 20px;
    padding: 15px;
    width: 80px;
    text-align: center;
}

.contact_us {
    font-weight: 500;
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    height: 20px;
    padding: 15px;
    width: 100px;
    text-align: center;
}

.contact_us>div {
    background-color: white;
    color: blue;
}

.line {
    border-bottom: 0.5px solid rgb(98, 98, 159);
    position: relative;
    top: -65px;
    width: 100%;
}

.headings {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1 {
    color: white;
    font-weight: bold;
    font-size: 50px;
}

.h2 {
    color: white;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.gradient-text {
    margin-top: 10px;
    font-size: 48px;
    font-weight: bold;
    background: linear-gradient(to bottom, rgb(255, 209, 1), rgb(253, 2, 93));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button {
    margin-top: 30px;
    font-weight: 500;
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    height: 20px;
    padding: 15px;
    width: 150px;
    text-align: center;
    color: blue;
}

.video-container {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    width: 70%;

}

.gradient-text-2 {
    margin-top: 100px;
    font-size: 16px;
    text-align: center;
    background: linear-gradient(to bottom, rgb(255, 209, 1), rgb(253, 2, 93));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.h3 {
    color: white;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}

.box1{
    margin-top:50px;
    border: 2px solid #369eff;
    border-radius: 10px;
    width: 320px;
    height:480px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box3{
    margin-top:50px;
    border: 2px solid yellow;
    border-radius: 10px;
    width: 320px;
    height:480px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h5 {
    color: white;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}

.h4{
    margin-top: 10px;
    color: #369eff;
    font-size:30px;
    font-weight: bold;
    text-align: center;
}

.h7{
    margin-top: 10px;
    color: yellow;
    font-size:30px;
    font-weight: bold;
    text-align: center;
}

.h6{
    margin-top: 10px;
    color: #e80055;
    font-size:30px;
    font-weight: bold;
    text-align: center;
}

.img1{
    margin-top: 20px;
    height:170px;
}

.img3{
    margin-top: 20px;
    height:150px;
}

.img4{
    margin-top:10px;
    height: 126px;
}

.img5{
    height: 135px;
}

.button1{
    margin-top: 20px;
    font-size: 18px;
    font-weight:bold;
    border: 3px solid #369eff;
    background-color: #021345;
    border-radius:5px;
    height:33px;
    width: 225px;
    padding-top: 10px;
    text-align: center;
    color: white;
}

.button1>div{
    background-color: #152f4d;
}

.sub-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #152f4d;
    width: 320px;
    height: 200px;
}

.tick-flex{
    margin-top:20px;
    display: flex;
    justify-content: space-between;
    color: white;
    gap: 5px;
    background-color: #152f4d;
}

.tick-flex>div{
    background-color: #152f4d;
    font-size:small;
}

.img2{
    height:15px;
    background-color: #152f4d;
}

.box-flex{
    display: flex;
    justify-content:center;
    margin-top: 15px;
    gap:10px;
    background-color: #152f4d;
}

.button2{
    font-size: small;
    color: black;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    height:20px;
    width:60px;
    text-align:center;
    padding-top:3px;
}

.button3{
    font-size: small;
    color: white;
    background-color: #2b4ec2;
    border: 1px solid #2b4ec2;
    border-radius: 5px;
    height:20px;
    width:60px;
    text-align:center;
    padding-top:3px;
}

.button4{
    font-size: small;
    color: white;
    background-color: #369eff;
    border: 1px solid #369eff;
    border-radius: 5px;
    height:20px;
    width:60px;
    text-align:center;
    padding-top:3px;
}

.button5{
    font-size: small;
    color: black;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    height:20px;
    width:60px;
    text-align:center;
    padding-top:3px;
}

.learn_more{
    margin-top: -35px;
    background-color: #369eff;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 320px;
    height: 32px;
}

.learn_more_1{
    margin-top: -35px;
    background-color: #e80055;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 320px;
    height: 32px;
}

.learn_more_2{
    margin-top: -35px;
    background-color: yellow;
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 320px;
    height: 32px;
}

.boxes{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.box2{
    margin-top:50px;
    border: 2px solid #e80055;
    border-radius: 10px;
    width: 320px;
    height:480px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button6{
    font-size: small;
    color: white;
    background-color: #e80055;
    border: 1px solid #e80055;
    border-radius: 5px;
    height:20px;
    width:60px;
    text-align:center;
    padding-top:3px;
}

.button7{
    font-size: small;
    color: black;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    height:20px;
    width:60px;
    text-align:center;
    padding-top:3px;
}

.button8{
    margin-top: 20px;
    font-size: 18px;
    font-weight:bold;
    border: 3px solid #e80055;
    background-color: #021345;
    border-radius:5px;
    height:33px;
    width: 225px;
    padding-top: 10px;
    text-align: center;
    color: white;
}

.button8>div{
    background-color: #152f4d;
}

.button9{
    margin-top: 20px;
    font-size: 18px;
    font-weight:bold;
    border: 3px solid yellow;
    background-color: #021345;
    border-radius:5px;
    height:33px;
    width: 225px;
    padding-top: 10px;
    text-align: center;
    color: white;
}

.button9>div{
    background-color: #152f4d;
}

.button10{
    font-size: small;
    color: black;
    background-color: yellow;
    border: 1px solid yellow;
    border-radius: 5px;
    height:20px;
    width:60px;
    text-align:center;
    padding-top:3px;
}

.button11{
    font-size: small;
    color: black;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    height:20px;
    width:60px;
    text-align:center;
    padding-top:3px;
}

.gradient-text-3 {
    margin-top: 100px;
    font-size: 16px;
    margin-left: 100px;
    background: linear-gradient(to bottom, rgb(255, 209, 1), rgb(253, 2, 93));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.h8{
    margin-left: 100px;
    font-size: 35px;
    font-weight: bold;
    color: white;
}

.img7{
    height:280px;
    margin-bottom: 20px;
    margin-top: -2px;
}

.h9{
    color: white;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 25px;
}

.l1{
    margin-left: 20px;
    margin-top:5px;
    color: white;
    display: flex;
    align-items: center;
}

.img6{
    height: 25px;
}

.BOX1{
    border: 2px solid #2b4ec2;
    height:610px;
    width: 404px;
    border-radius:20px;
}

.box4{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top:50px;
}

.button12{
    background-color: white;
    color: blue;
    font-size:15px;
    border: 2px solid white;
    border-radius: 10px;
    height:30px;
    width: 130px;
    text-align: center;
    padding-top: 10px;
    margin-top: 50px;
    margin-left: 700px;
}